
/* colors

darkest grey: #2a2a2a;
light grey: #eeeeee;
light orange: #f38630;
dark orange: #fa6900;
light green: #00ff00;

end colors */


body	{
	/*background-color: #eeeeee;*/
	background-image: url("../_images/Bg60.jpg");
}




div.two	{
	background-color: #2a2a2a;
	height: 60px;
	text-align: center;
	color: #eeeeee;
	padding: 25px 5px 0 5px;
	border-bottom: 5px solid #fa6900;
}

a.quicklinks	{
	color: #00ff00;
}

div.two a  {
	color: #eeeeee;
	font-size: 16px;
}

div.two a:hover  {
	color: #fa6900;
	text-decoration: none;
}

a.quicklinks	{
	color: #00ff00;
}

/*LOGO DIV*/


div.logo	{
	font-size: 42px;
	font-weight: bold;
	padding-top: 0px;
}

div.logo a  {
	font-size: 42px;
	color: #eeeeee;
}

div.logo a:hover  {
	color: #fa6900;
	text-decoration: none;
}

/*END LOGO DIV*/


div.twelve	{
	background-color: #eeeeee;
	min-height: 500px;
	background: url("../_images/Surf12x5.jpg");
	background-position: top right;
}

div.nine	{
	background-color: #eeeeee;
	min-height: 500px;
}

div.three	{
	background-color: #eeeeee;
	min-height: 500px;
}

div.four	{
	background-color: #2a2a2a;
	height: 200px;
	border-top: 5px solid #fa6900;
}

/* Content Divs */

div.content_one{
	position: absolute;
	margin-left: 110px;
	margin-top: 35px;
	padding: 35px;
	height: 400px;
	width: 420px;
	color: #eeeeee;
	background: url("../_images/content_one_bg.png");
	text-align: center;
}






